{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block top_menu %}
{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div class="page-section">
    {% if user.is_authenticated %}
    <h2 class="text-center">Modification du mot de passe</h2>
    <div class="text-center mb-100">
        <form action="{% url 'authentication:change-password' %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button id="confirmer" type="submit" class="btn btn-pastel-teal connect">Valider</button>
        </form>
    </div>
    {% else %}
        <h3>Connectez-vous pour modifier votre mot de passe</h3>
    {% endif %}
</div>
{% endblock %}