{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block top_menu %}
{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div class="page-section">
    {% if user.is_authenticated %}
        <h2 class="text-center">Vous êtes déjà connecté</h2>
        <br>
        <div class="text-center mb-100">
            <a id="register" href="{% url 'authentication:change-password' %}">Cliquez ici pour modifier votre mot de passe ici.</a>
        </div>
    {% else %}
        <h2 class="text-center">Mot de passe oublié</h2>
        <div class="text-center mb-100">
            <br>
            <p>Entrez votre adresse email pour recevoir un lien de réinitialisation du mot de passe.</p>
            <br>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <button id="confirmer" type="submit" class="btn btn-pastel-teal connect">Valider</button>
            </form>
        </div>
    {% endif %}
</div>
{% endblock %}