{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block top_menu %}
{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div class="page-section">
        <h2 class="text-center">Mot de passe oublié</h2>
        <div class="text-center mb-100">
            <p>Indiquez un nouveau mot de passe</p>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <button id="confirmer" type="submit" class="btn btn-pastel-teal connect">Valider</button>
            </form>
            <br>
            <p>Si l'espace prévu pour indiquer un nouveau mot de passe ne s'affiche plus, recommencer l'opération depuis la page 'Me connecter'.</p>
        </div>
</div>
{% endblock %}