{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block top_menu %}
{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div class="page-section">
    {% if user.is_authenticated %}
        <h2 class="text-center">Vous êtes déjà connecté</h2>
        <br>
        <div class="text-center mb-100">
            <a id="register" href="{% url 'authentication:change-password' %}">Cliquez ici pour modifier votre mot de passe ici.</a>
        </div>
    {% else %}
        <h2 class="text-center">Mot de passe oublié</h2>
        <div class="text-center mb-100">
            <p>Un lien d'activation vient d'être envoyé à l'adresse demandée</p>
        </div>
    {% endif %}
</div>
{% endblock %}